@model ManagementSystem.Api.Models.ViewModels.Task.TaskListSelectedTaskViewModel

<div class="col-md-12">
    <div class="row">
        @Html.HiddenFor(e => e.Id)
        <div class="col-6">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Name" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    @Model.Name
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Description" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    @Model.Description
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="ProjectId" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    @Model.ProjectId
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="SprintId" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    @Model.SprintId
                </div>
            </div>
        </div>
        @*@await Component.InvokeAsync("MessageSave", new { taskId = Model.Id })*@
        @await Component.InvokeAsync("MessageList", new { taskId = Model.Id })
    </div>
</div>