@model ManagementSystem.Api.Models.ViewModels.Message.MessageListViewModel

<div class="table-parent-item">
    <div class="table-item-level table-item-level-@Model.Level" style="color: black; display: flex; align-items: center; justify-content: flex-end; margin-right: 3px;">
    </div>
    <div class="table-item" style="border-top-left-radius: 15px; border-top-right-radius: 15px; margin-bottom: 15px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;">
        <div class="row w-100" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; background: #0066cc; align-items: center; border: 2px solid #0066cc; border-top-left-radius: 15px; border-top-right-radius: 15px; ">
            <div class="col-md-5 d-flex align-items-center" style="color: white">
                <img src="@Model.Author.ProfileImagePath" class="user-list-avatar" />
                <span>@Model.Author.Name</span>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                @if (Model.CurrentUserId == Model.Author.Id)
                {
                    <a class="btn btn-info save-open-message" data-id="@Model.Id" data-taskid="@Model.TaskId">
                        <i class="fa fa-pencil"></i>Edit
                    </a>
                }
                <a class="btn btn-dark save-open-message" data-parentid="@Model.Id" data-taskid="@Model.TaskId">
                    <i class="fa fa-pencil"></i>Reply
                </a>
                @if (Model.CurrentUserId == Model.Author.Id)
                {
                    <a class="btn btn-danger delete-open-message-modal" data-id="@Model.Id">
                        <i class="fa fa-pencil"></i>Delete
                    </a>
                }

            </div>
            <div class="col-md-3 d-flex justify-content-end">
                @Model.CreationDateStr
            </div>
        </div>
        <div class="col-md-12" style="padding-bottom: 10px; padding-top: 10px; background: #f2f2f2; color: black;">
            @Model.Message
        </div>
        @if (Model.Files != null && Model.Files.Any())
        {
            await Html.RenderPartialAsync("~/Views/File/_UploadedFiles.cshtml", Model.Files);
        }

        <div class="reply-message-container w-100">

        </div>
    </div>    
</div>


@if (Model.Children != null)
{
    @foreach (var msg in Model.Children)
    {
        await Html.RenderPartialAsync("~/Views/Message/_MessageListItem.cshtml", msg);
    }
}
